{% load render_table from django_tables2 %}
{% load static %}
<html lang="en">
<head>
        <title>OpenLayers Map</title>
        <link rel="stylesheet" href="styles.css">
        <!-- The openlayers script -->
        <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
        <script type="text/javascript">
            // import {Icon, Style} from 'ol/style.js';
            var locations_wgs84 = [];
            var locations_companies = [];
            var locations_description = [];
            var locations_address = [];
            var locations_opening_hours = [ ];
            var locations_telephone_numbers = [];
            var locations_reviews = [];
            var locations_images = [];
            var locations_id = [];
            var lon = 18.607577170162646;
            var lat = 54.37920932281567;
            var zoom = 15;
            var map;
            var popup = null;
            var mercator = new OpenLayers.Projection("EPSG:900913");
            var wgs84 = new OpenLayers.Projection("EPSG:4326");
            var apiKey = "Avb6PhaVhsNXT8JGM3BgR9sBBohsaoQYqsxUlzXB79w5z9kkjqsyw1Dt-kz9cWXS";
            var options = { projection: mercator };
            var locations_markers = [];
            var shop_lonLat = [];
            var selectedMarkers = [];
            var markers_layer = new OpenLayers.Layer.Markers("Mapa sklepów");
            var person_layer = new OpenLayers.Layer.Markers("Użytkownik");
            let isTableCreated = false;
            var greenLon = 18.612653529526586;
            var greenLat = 54.3709656355766;
            var flag = 0;

            async function init(){
                await loadData();
                map = new OpenLayers.Map('map', options);
                routeLayer = new OpenLayers.Layer.Vector("Route");
                map.addLayer(routeLayer);
                var bing_streets = new OpenLayers.Layer.Bing({
                    name:"bing_streets",
                    key: apiKey,
                    type: "AerialWithLabels"
                })
                var bing_phys = new OpenLayers.Layer.Bing({
                    name:"bing_phys",
                    key: apiKey,
                    type: "Aerial"
                })
                var bing_sat = new OpenLayers.Layer.Bing({
                    name:"bing_sat",
                    key: apiKey,
                    type: "Road"
                })

                

                var panZoomBar = new OpenLayers.Control.PanZoomBar();               
                var scaleLine = new OpenLayers.Control.ScaleLine();
                var overviewMap = new OpenLayers.Control.OverviewMap();                
                var keyboardDefaults = new OpenLayers.Control.KeyboardDefaults();                
                var mousePosition = new OpenLayers.Control.MousePosition();                
                var layerSwitcher = new OpenLayers.Control.LayerSwitcher();                


                await addMarkers(locations_wgs84, markers_layer);
                // await addPersonMarker(locations_wgs84, person_layer);
                await addInformation(locations_markers);
                var lonLat = new OpenLayers.LonLat(lon, lat);
                lonLat.transform(wgs84, mercator);

                map.addControl(panZoomBar);
                map.addControl(scaleLine);
                map.addControl(overviewMap);
                map.addControl(keyboardDefaults);
                mousePosition.displayProjection = wgs84;
                map.addControl(mousePosition);
                map.addControl(layerSwitcher);
                map.addLayers([bing_streets, bing_phys, bing_sat, markers_layer]); // osm , vectors ]);
                map.setCenter(lonLat, zoom);
                map.zoomIn();
                map.events.register("click", map, addMarkerOnClick);
            }

            async function loadData(){
                await fetch('/api/gis/shop/list/').then(response => {
                    return response.json();
                }).then(data => {
                    data.forEach((element) => {
                        locations_id.push(element.id)
                        locations_wgs84.push([parseFloat(element.address_latitude), parseFloat(element.address_longitude)])
                        locations_companies.push(element.company)
                        locations_description.push(element.description)
                        locations_reviews.push(element.description)
                        locations_address.push(element.address)
                        locations_opening_hours.push(element.opening_hours)
                    });
                })

                if (!isTableCreated) {
                    createTableRows();
                    isTableCreated = true; // Set the flag to true
                }
            }

            function isLocationOpen(openingHours) {
                // Get current day and time
                const currentDate = new Date();
                const currentDay = currentDate.getDay();  // Sunday is 0, Monday is 1, ..., Saturday is 6
                const currentTime = currentDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });

                // Check if the location is open based on the current day and time
                const openingHoursForDay = openingHours[currentDay];

                if (openingHoursForDay === "Zamknięte") {
                    return false; // Location is closed on the current day
                }

                // Check if the current time is within the opening hours
                for (const timeRange of openingHoursForDay) {
                    const [startTime, endTime] = timeRange.split(" - ");
                    if (startTime <= currentTime && currentTime <= endTime) {
                        return true; // Location is open at the current time
                    }
                }

                return false; // Location is closed at the current time
            }


            function addMarkers(Locations, markers_layer) {                
                    
                for (var i = 0; i < Locations.length; i++) {
                    var lon = Locations[i][1];
                    var lat = Locations[i][0];
                    var lonLat = new OpenLayers.LonLat(lon, lat);
                    lonLat.transform(wgs84, mercator);
                    var open_allweek_icon =   new OpenLayers.Icon("open_allweek_icon.png",
                            new OpenLayers.Size(32, 32), new OpenLayers.Pixel(-16, -16));
                        if (!locations_opening_hours[i].includes("Zamknięte")) {
                            var marker = new OpenLayers.Marker(lonLat);

                        }
                        else{
                            var marker = new OpenLayers.Marker(lonLat);

                        }

                    markers_layer.addMarker(marker);
                    locations_markers.push(marker);
                    shop_lonLat.push(lonLat);
                }
            }

            function addPersonMarker(Locations, person_layer){
                var greenLonLat = new OpenLayers.LonLat(greenLon, greenLat);
                greenLonLat.transform(wgs84, mercator);
                var greenIcon = new OpenLayers.Icon("static/images/marker.png", new OpenLayers.Size(32, 32), new OpenLayers.Pixel(-16, -16));
                var greenMarker = new OpenLayers.Marker(greenLonLat, greenIcon);
                person_layer.addMarker(greenMarker);
                onMarkerClick(greenMarker);
            }

            function addReview(index) {
                var reviewInput = document.getElementById('reviewInput');
                var reviewText = reviewInput.value.trim();
            
                if (reviewText !== "") {
                    locations_reviews[index].push(reviewText);
                    alert("Recenzja '" + reviewText + "' została dodana!");
                    reviewInput.value = ""; // Clear the input field after adding the review
            
                    // Update the reviewsList for the corresponding index
                    var reviewsListElement = document.getElementById('reviewsList' + index);
                    if (reviewsListElement) {
                        var newReviewItem = document.createElement('li');
                        newReviewItem.textContent = reviewText;
                        reviewsListElement.appendChild(newReviewItem);
                        createPopupContent(index);
                    } else {
                        alert("Error: reviewsList" + index + " not found.");
                    }
                } else {
                    alert("Please enter a valid review text.");
                }
            }

            function addInformation(locations_markers){
                
                for (var i = 0; i < locations_markers.length; i++) {
                    createPopupContent(i);
                }
            }
            function transformToWGS84(shop_lonLat) {
                return shop_lonLat.clone().transform(map.getProjectionObject(), new OpenLayers.Projection("EPSG:4326"));
            }

            function createPopupContent(i) {
                
                var daysOfWeek = ["Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota", "Niedziela"];

                var openingHoursList = "<div class='opening-hours'><em>Godziny otwarcia:</em></div><ul class='days-list'>";
                // console.log(locations_opening_hours)
                for (var j = 0; j < daysOfWeek.length; j++) {
                    openingHoursList += "<li>" + daysOfWeek[j] + ": " + locations_opening_hours[i][j] + "</li>";
                }
                openingHoursList += "</ul>";
                
                var k = 0;
                var reviewsList = "<div class='reviews'><strong>Opinie:</strong></div><ul id='reviewsList" + i + "'>";
                for (k = 0; k < locations_reviews[i].length; k++) {
                    reviewsList += "<li>" + locations_reviews[i][k] + "</li>";
                }
                reviewsList += "</ul>";

                (function (index) {
                    var popupContentHTML =
                        "<div class='location-info'>" +
                            "<strong class='title'>Firma: " + locations_companies[index] + "</strong>" +
                            "<div><em>Adres:</em> <span class='highlight'>" + locations_address[index] + "</span></div>" +
                            openingHoursList +
                            "<div><em>Opis:</em> <span class='highlight'>" + locations_description[index] + "</span></div>" +
                        "</div>";
                        locations_markers[index].events.register("click", locations_markers[index], function (e) {
// 
                        if (popup) {
                            map.removePopup(popup);
                            popup.destroy();
                        }
// 
                        popup = new OpenLayers.Popup.FramedCloud(
                            "Popup",
                            shop_lonLat[index],
                            null,
                            popupContentHTML,
                            null,
                            true
                        );
// 
                        map.addPopup(popup);
                        OpenLayers.Event.stop(e);
                    });
                        locations_markers[index].events.register("click", locations_markers[index], function() {
                            onMarkerClick(locations_markers[index]);
                        });
                })(i);
            }

            async function calculateAndDrawRoute(fromLonLat, toLonLat) {
                const osrmRouteServiceUrl = "http://router.project-osrm.org/route/v1/driving/";
                const transformedFrom = transformToWGS84(fromLonLat);
                const transformedTo = transformToWGS84(toLonLat);
                const from = `${transformedFrom.lon},${transformedFrom.lat}`;
                const to = `${transformedTo.lon},${transformedTo.lat}`;
                // const from = `54.38124393410288,18.60483962445778`;
                // const to = `54.38103049166999,18.606575054794458`;
                const url = osrmRouteServiceUrl + from + ';' + to + '?overview=full&geometries=geojson';
                console.log(from)
                console.log(to)
                try {
                    const response = await fetch(url);
                    const json = await response.json();
                    const routeLength = json.routes[0].distance; // Pobierz długość trasy
                            
                    document.getElementById("routeLength").textContent = routeLength.toFixed(2) + " m";                    
                } catch (error) {
                    console.error('Error during route length calculation:', error);
                }
            }

            function onMarkerClick(marker) {
                // map.removeLayer(markers_layer);
                console.log(selectedMarkers)
                if (selectedMarkers.length < 2) {
                    selectedMarkers.push(marker.lonlat);
                }
                if (selectedMarkers.length === 2) {
                    calculateAndDrawRoute(selectedMarkers[0], selectedMarkers[1]);
                    selectedMarkers = []; // Resetowanie wyboru
                }
            }


            function getCSRFToken() {
                const csrfCookie = document.cookie.split('; ').find(cookie => cookie.startsWith('csrftoken='));
                if (csrfCookie) {
                    return csrfCookie.split('=')[1];
                }
                return null;
            }

function openEditModal(locationId) {
    // Retrieve the data for the specified row
    var rowData = getRowData(locationId);

    // Create a new window for the modal
    var modalWindow = window.open('', '_blank', 'width=400,height=500');

    // Create modal content
    var modalContent = document.createElement('div');
    modalContent.className = 'modal-content';

    // Create close button for the modal
    var closeButton = document.createElement('span');
    closeButton.className = 'close';
    closeButton.innerHTML = '&times;';
    closeButton.onclick = function () {
        // Close the modal window when the close button is clicked
        modalWindow.close();
    };

    // Append close button to modal content
    modalContent.appendChild(closeButton);

    // Array of field names for placeholders
    var fieldNames = ["Nazwa", "Adres", "Opis", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota", "Niedziela", "Akcje"];

    // Create input fields with default values
    for (var i = 0; i < fieldNames.length; i++) {
        var inputLabel = document.createElement('label');
        inputLabel.textContent = fieldNames[i] + ': ';

        var inputField = document.createElement('input');
        inputField.type = 'text';
        inputField.id = 'field' + (i + 1);

        // Set default values based on the row data
        if (fieldNames[i].toLowerCase() === 'zamknięte' && rowData[i].toLowerCase() === 'zamknięte') {
            inputField.value = 'zamknięte';
        } else {
            inputField.value = rowData[i];
        }

        // Append label and input field to modal content
        modalContent.appendChild(inputLabel);
        modalContent.appendChild(inputField);
        modalContent.appendChild(document.createElement('br'));
    }

    // Create a button within the modal content
    var saveButton = document.createElement('button');
    saveButton.textContent = 'Save';
    saveButton.onclick = async function () {
        // Create a JSON object with the structure
        var jsonData = {
            company: modalWindow.document.getElementById('field1').value,
            address: modalWindow.document.getElementById('field2').value,
            description: modalWindow.document.getElementById('field3').value,
            opening_hours: [
                modalWindow.document.getElementById('field4').value,
                modalWindow.document.getElementById('field5').value,
                modalWindow.document.getElementById('field6').value,
                modalWindow.document.getElementById('field7').value,
                modalWindow.document.getElementById('field8').value,
                modalWindow.document.getElementById('field9').value,
                modalWindow.document.getElementById('field10').value,
            ],
        };

        const csrfToken = getCSRFToken();

        // Log the JSON data
        try {
        const response = await fetch('/api/location/' + locationId+'/', {
            
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify(jsonData),
        });

        if (response.ok) {
            console.log('Data sent successfully');
            // You can perform additional actions after successful API request
        } else {
            console.error('Failed to send data. Server returned:', response.status, response.statusText);
        }
    } catch (error) {
        console.error('Error during fetch:', error);
    }

        // Perform save action based on the JSON data if needed

        // Close the modal window after saving
        modalWindow.close();
    };

    // Append save button to modal content
    modalContent.appendChild(saveButton);

    // Append modal content to modal window's document
    modalWindow.document.body.appendChild(modalContent);
}



function getRowData(locationId) {
    // Find the index of locationId in locations_id
    var index = locations_id.indexOf(locationId);

    // Check if the locationId is found
    if (index !== -1) {
        // Extract relevant information
        var openingHours = locations_opening_hours[index].map(function (hours) {
            return hours;
        });

        return [
            locations_companies[index],
            locations_address[index],
            locations_description[index],
            ...openingHours.flat(), // Flatten the array
        ];addMarkerOnClick
    } else {
        // Return default values or handle not found scenario
        return ['Default Name', 'Default Address', 'Default Description', '6:00 - 23:00', '6:00 - 23:00', '6:00 - 23:00', '6:00 - 23:00', '6:00 - 23:00', 'Zamknięte', '6:00 - 23:00'];
    }
}








            function createTableRows() {
                var tableBody = document.getElementById('tableBody');

                // Create table header with days of the week
                var tableHeaderRow = document.createElement('tr');
                var headerCells = ["Nazwa", "Adres", "Opis", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota", "Niedziela", "Akcje"];
                for (var i = 0; i < headerCells.length; i++) {
                    var headerCell = document.createElement('th');
                    headerCell.textContent = headerCells[i];
                    tableHeaderRow.appendChild(headerCell);
                }
                tableBody.appendChild(tableHeaderRow);

                // Loop through the arrays and create table rows
                for (var i = 0; i < locations_companies.length; i++) {
                    var row = document.createElement('tr');

                    // Create cells for basic information
                    var nameCell = document.createElement('td');
                    nameCell.textContent = locations_companies[i];
                    row.appendChild(nameCell);

                    var addressCell = document.createElement('td');
                    addressCell.textContent = locations_address[i];
                    row.appendChild(addressCell);

                    var statusCell = document.createElement('td');
                    statusCell.textContent = locations_description[i];
                    row.appendChild(statusCell);

                    // Create cells for each day's opening hours
                    for (var j = 0; j < locations_opening_hours[i].length; j++) {
                        var openingHoursCell = document.createElement('td');
                        openingHoursCell.textContent = locations_opening_hours[i][j];
                        row.appendChild(openingHoursCell);
                    }

                    // Create a cell for the "Edytuj" button
                    var editButtonCell = document.createElement('td');
                    var editButton = document.createElement('button');
                    editButton.textContent = 'Edytuj';
                    editButton.addEventListener('click', function (index) {
                        return function () {
                            openEditModal(locations_id[index]);
                        };
                    }(i)); // Using a closure to capture the current value of i
                    editButtonCell.appendChild(editButton);
                    row.appendChild(editButtonCell);

                    tableBody.appendChild(row);
                }
            }


            function filterTable() {
                // Get the filter input values
                var filterCompany = document.getElementById('locations_companies_filter').value.toLowerCase();
                var filterAddress = document.getElementById('locations_companies_address').value.toLowerCase();
                var filterDescription = document.getElementById('locations_companies_description').value.toLowerCase();

                // Filter the locations based on the input values
                var filteredData = locations_companies.filter(function (company, index) {
                    var address = locations_address[index].toLowerCase();
                    var description = locations_description[index].toLowerCase();

                    return (
                        company.toLowerCase().includes(filterCompany) &&
                        address.includes(filterAddress) &&
                        description.includes(filterDescription)
                    );
                });

                // Clear the existing markers layer
                map.removeLayer(markers_layer);

                // Create a new markers layer for the filtered data
                markers_layer = new OpenLayers.Layer.Markers("Mapa sklepów");
                

                var filteredLocationsWGS84 = [];
                for (var i = 0; i < filteredData.length; i++) {
                    var companyIndex = locations_companies.indexOf(filteredData[i]);
                    if (companyIndex !== -1) {
                        filteredLocationsWGS84.push(locations_wgs84[companyIndex]);
                    }
                }

    // Add markers for the filtered data
                addMarkers(filteredLocationsWGS84, markers_layer);
                map.addLayer(markers_layer);


                // Create table rows for the filtered data
                createNewTableRows(filteredData);
            }

        function createNewTableRows(filteredData) {
            var tableBody = document.getElementById('tableBody');

            // Clear the table body
            tableBody.innerHTML = '';

            // Create table header with days of the week
            var tableHeaderRow = document.createElement('tr');
            var headerCells = ["Nazwa", "Adres", "Opis", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota", "Niedziela"];
            for (var i = 0; i < headerCells.length; i++) {
                var headerCell = document.createElement('th');
                headerCell.textContent = headerCells[i];
                tableHeaderRow.appendChild(headerCell);
            }
            tableBody.appendChild(tableHeaderRow);

            // Loop through the filtered data and create table rows
            for (var i = 0; i < filteredData.length; i++) {
                var index = locations_companies.indexOf(filteredData[i]);
                var row = document.createElement('tr');

                // Create cells for basic information
                var nameCell = document.createElement('td');
                nameCell.textContent = locations_companies[index];
                row.appendChild(nameCell);

                var addressCell = document.createElement('td');
                addressCell.textContent = locations_address[index];
                row.appendChild(addressCell);

                var statusCell = document.createElement('td');
                statusCell.textContent = locations_description[index];
                row.appendChild(statusCell);

                // Create cells for each day's opening hours
                for (var j = 0; j < locations_opening_hours[index].length; j++) {
                    var openingHoursCell = document.createElement('td');
                    openingHoursCell.textContent = locations_opening_hours[index][j];
                    row.appendChild(openingHoursCell);
                }

                tableBody.appendChild(row);
            }
        }



            function myFunction() {
                // Call the filterTable function when the button is clicked
                filterTable();
            }

            function addMarkerOnClick(event) {
                // Get the clicked coordinates
                if (flag == 1){
                    var lonLat = map.getLonLatFromPixel(event.xy);
                    lonLat.transform(map.getProjectionObject(), wgs84);
                    greenLon = lonLat.lon;
                    greenLat = lonLat.lat;
                    console.log("Clicked Coordinates: " + lonLat.lon + ", " + lonLat.lat);
                    addPersonMarker(locations_wgs84, person_layer);
                    map.addLayer(person_layer);
                    flag = 2;
                }
            }

            function addMarkerFlag() {
                if (flag == 0)
                    flag = 1;
            }

        </script>
</head>
    <body onload="init()">
        <div id="map" style="height: 80%; width: 100%;"></div>
        <button onclick="addMarkerFlag()">Ustal pozycję</button>
        <div id="routeLength">0.0 m</div>
        <br/>
        <input type="text" placeholder="Nazwa" id="locations_companies_filter">
        <br/>
        <input type="text" placeholder="Adres" id="locations_companies_address">
        <br/>
        <input type="text" placeholder="Opis" id="locations_companies_description">
        <br/>
        <button onclick="myFunction()">Filtruj</button>
        
        <table border="1">
            <tbody id="tableBody"></tbody>
          </table>
    </body>
</html>

