{% block content %}
    <h2>Create New Shop</h2>
    <form method="post">
        {% csrf_token %}
        {% for day in days_fields %}
            <div>
                <label>{{ day.day }}</label>
                {{ day.open_field }}
                {{ day.close_field }}
            </div>
        {% endfor %}
        Nazwa firmy
        {{ form.company }}
        <br>
        Adres
        {{ form.address }}
        <br>
        Typ sklepu
        {{ form.type }}
        <br>
        Opis
        {{ form.description }}
        <br>
        Współrzędne adresu (Szerokość geograficzna)
        {{ form.address_latitude }}
        <br>
        Współrzędne adresu (Długość geograficzna)
        {{ form.address_longitude }}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
