
{% block content %}
    <h1>Edit Shop</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock %}
