
{% block content %}
    <h1>My Shops</h1>
    {% if shops %}
        <ul>
            {% for shop in shops %}
                <li>
                    <strong>{{ shop.company }}</strong><br>
                    Address: {{ shop.address }}<br>
                    Type: {{ shop.type }}<br>
                    Description: {{ shop.description }}<br>
                    <a href="{% url 'shop-edit-detail' shop.id %}">View Details</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You do not have any shops listed.</p>
    {% endif %}
{% endblock %}
